/* Parallax Sass */
.parallax {
  background-attachment: fixed;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  position: relative;
}
